* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Heading sizes*/
h1 {
  font-size: ;
}

h2 {
  font-size: ;
}

h3 {
  font-size: ;
}

h4 {
  font-size: ;
}

h5 {
  font-size: ;
}

h6 {
  font-size: ;
}

p {
  font-size: ;
}

/*Section [Navigation]*/
nav {
  height: 80px;
  max-width: 1088px;
  align-items: center;
  justify-content: center;
  background-color: white;
  display: flex;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 45px;
  list-style: none;
  margin-right: auto;
  align-items: center;
}

nav ul li:nth-child(1) {
  margin-left: 70px;
}

nav ul li:nth-child(8) {
  margin-left: 338px;
}

.fa-regular {
  font-size: 2.5rem;
}

.fa-regular:hover {
  color: rgb(83 141 215);
  transition: all 250ms ease-in-out;
}

nav img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

nav a {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

nav ul li a i {
  font-size: 1.5rem;
}

.fa-font-awesome {
  color: rgb(83 141 215);
  font-size: 2.5rem;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
  color: white;
}

.signup-btn {
  display: inline-block;
  padding: 13px 35px;
  font-size: 1.6rem;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

/*Responsive burgermenu*/
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: rgb(42, 42, 42);
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 100px;
    gap: 10px;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }

  nav img {
    margin-right: auto;
    margin-left: 20px;
  }
}

/*Section [Hero]*/
.hero {
  background-image: url(/assets/img/hero-icon-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.hero-container {
  max-width: 1088px;
  background-color: #f36944;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.hero-container p {
  font-size: 1.6rem;
  color: white;
}

.hero-container i {
  font-size: 1.6rem;
}

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [Footer]*/

/*Responsive*/
@media screen and (max-width: 768px) {
  /*Heading sizes*/
  h1 {
    font-size: ;
  }

  h2 {
    font-size: ;
  }

  h3 {
    font-size: ;
  }

  h4 {
    font-size: ;
  }

  h5 {
    font-size: ;
  }

  h6 {
    font-size: ;
  }

  p {
    font-size: ;
  }

  /*Section [Hero]*/

  /*Section [name]*/

  /*Section [name]*/

  /*Section [name]*/

  /*Footer*/
}
